.hide{
    display: none;
}

.car{
    position: absolute;
    bottom: 100px;
    margin: auto;
    left: 200px;
    width: 100px;
    height: 100px;
    background-color: blue;
}

.gamearea{
    background-color: black;
    width: 200px;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}